#pages {
    > * {
      display: none;
    }
  
    > .active {
      display: block;
    }
  }

  .home-widget {
    transform: opacity 500ms;
    background-color: aqua;
    &.loading {
      opacity: 0.25;
    }
  }
  
  .home-wrapper {
    margin: ($base-size * 3.5) auto;
    padding: ($base-size * 6) ($base-size * 4);
    background: $color-light;
    border-bottom: 1px solid lighten($color-dark, 70%);
    border-radius: $radius;
  }
  
  .home-widget {
    transform: opacity 500ms;

    &.loading {
      opacity: 0.25;
    }
  }
  //to działa i targetuje dobrze elementy
  
  